*{margin:0 auto;}
a {
	text-decoration:none;
	color:#666;
}
li {
	list-style:none; 
	font-size:12px;
}
img {
	border:none;
}
/*顶端注释*/
.header {
	height:110px;
	width:100%;
	background-color:#f1f1f1;
	line-height:30px;
}
.head {
	height:30px;
}
.header1 {
	height:30px;
	width:1214px;
	
}
.address {
	height:30px;
	float:left;
	margin-left:16px;
	font-size:12px;
}
select {
	color:#666;
	border:none;
	background-color:#f1f1f1;
	font-size:12px;
}
.header2 {
	height:80px;
	background-color:#8a25c6;
}
.topbanner {
	width:1210px;
}
.message {
	float:right;
}
.message ul li {
	float:left;
	border-right: 1px solid #ddd;
	height:20px;
	margin-top:5px;
	line-height:20px;
	padding: 0 10px;
}
.message ul li a span {
	color:#f00;
}
.phone {
	background:url(../img/sprite.png) no-repeat;
	height:20px;
	padding-top:3px;
	float:left;
	padding-left:15px;
}
/*logo部分注释*/
.box {
	width:1200px;
	height:100px;
}
.dd {
	float:left;
	height:58px;
	padding:24px 0 18px 0;
}
.logo {
	width:163px;
	height:52px;
	float:left;
	background:url(../img/logo.png);
}
.move {
	width:201px;
	height:70px;
	float:left;
	background:url(../img/dong.gif) no-repeat;
	margin-top:-10px;
}
.box .box1 {
	width:540px;
	height:50px;
	margin-top:40px;
	float:left;
	font-size:12px;
}
.box div .text {
	padding:4px;
	border:1px solid #b61d1d;
	width:450px;
	height:30px;
	line-hright:25px;
	margin-right:0;
}
.box .box1 div{
	background:#b61d1d;
	float:right;
	height:30px;
	width:80px;
	margin-right:10px;
	text-align:center;
	font-size:14px;
	line-height:30px;
}
.box .box1 div a {
	color:#fff;
}
.box .box1 a {
	color:#666666;
	line-height:20px;
	margin:0 3px;
}
.box .box1 .a1 {
	color:#ff0000;
	margin-left:0;
}
.box2 {
	float:right;
	height:40px;
	width:110px;
	margin-top:40px;
	border:1px solid #dfdfdf;
	text-align:center;
	padding-left:40px;
	background:url(../img/sprite.png);
	background-position:20px -105px;
	background-repeat:no-repeat;
	position:relative;
}
.box .box2 a {
	line-height:40px;
	color:#666666;
	font-size:14px;
}
.box .box2 div {
	font-size:12px;
	width:15px;
	height:15px;
	text-align:center;
	line-height:15px;
	background:red;
	color:#fff;
	border-radius:30px 30px 30px 0;
	position:absolute;
	left:117px;
	top:-3px;
}
/*search注释*/
.search {
	width:1214px;
	height:50px;
	line-height:50px;
}
.search-l {
	width:210px;
	height:50px;
	float:left;
	background-color:#b1191a;
	color:#fff;
}
.search-l span {
	margin-left:20px;
}
.search-m {
	height:50px;
	float:left;
}
.search-m a {
	margin-left:20px;
}
.word {
	color:#f00;
}
.search-r {
	width:140px;
	height:50px;
	float:right;
	background-image:url(../img/bike.jpg);
}
/*内容注释*/
.banner {
	background:url(../img/banner.jpg) no-repeat center center ;
	height:638px;
}
.content {
	width:1214px;
	height:468px;
	margin-bottom:6px;
}
.content-l {
	height:470px;
	width:210px;
	float:left;
	background:#c81623;
}
.content-l ul {
	padding:10px;
}
.content-l ul li {
	line-height:30px;
	font-size:14px;
}
.content-l ul li a {
	color:#fff;
}
.content-l ul li a span {
	float:right;
}

.content-r {
	width:996px;
	height:452px;
	margin-top:12px;
	float:right;
}
.content-r1 {
	float:left;
}
.content-r2 {
	width:250px;
	height:452px;
	margin-left:10px;
	border: 2px solid #e4e4e4;
	float:right;
}
.content-r2>p {
	line-height:40px;
	border-bottom: 1px dashed #e8e8e7;
	font-size:14px;
}
.content-r2 p a {
	margin-left:10px;
}
.content-r2 p a span {
	margin-right:10px;
	float:right;
}
.content-r2 ul {
	padding-left:10px;
	border-bottom: 1px dashed #e8e8e7;
}
.content-r2 ul li {
	line-height:26px;
} 
.content-r2 ul li span {
	letter-spacing:1px;
}
.content-r2 ul li .strong {
	font-weight:bold;
}
.content-r2 h5 {
	line-height:44px;
	border-bottom: 1px dashed #e8e8e7;
}
.main-r-b {
	width:245px;
	height:240px;
}
.main-r-b .picture {
	text-align:center;
	padding-top:10px;
	width:59px;
	height:62px;
	float:left;
	border:1px solid #e4e4e4;
	border-top:0;
}
.main-r-b .picture div {
	background:url(../img/icon_lifeserv.png);
	width:25px;
	height:30px;
	background-repeat:no-repeat;
	background-position:-25px 5px;
}
.main-r-b .picture .picture1 {
	background-position:-25px -24px;
	margin-bottom:15px;
	height:25px;
}
.main-r-b .picture a p {
	margin-top:10px;
	line-height:20px;
	font-size:12px;
}
.joinus {
	width:1214px;
	height:164px;
}
.joinus1 {
	width:210px;
	height:150px;
	float:left;
}
.joinus2 {
	width:250px;
	height:164px;
	float:left;
	margin-right:1px;
}
.guild {
	width:100%;
	height:94px;
	background-color:#f5f5f5;
}
.guild-c {
	height:94px;
	width:1214px;
}
.guild-c-i {
	width:220px;
	height:54px;
	float:left;
	margin:24px 80px 20px 0;
}

/*底部注释*/
.footer {
	width:1218px;
	height:160px;
	padding: 27px 0 30px 0;
	text-align:center;
	border-top: 1px solid #e5e5e5;
	margin-top:20px;
}
.footer-top ul {
	height:30px;
}
.footer-top ul li {
	float:left;
	border-right: 1px solid #ddd;
	height:20px;
	margin-top:5px;
	line-height:20px;
	padding: 0 5px;
}
.footer-top {
	width:800px;
}
.footer-m {
	width:816px;
	height:66px;
	padding:13px 0;
	font-size:12px;
	line-height:16px;
}
.footer-d {
	height:32px;
	width:615px;
}
.footer-d div {
	width:103px;
	height:32px;
	float:left;
	margin-right:4px;
}